<div class="container" id="newcampground">
  <h2 class="color-blue bold">Add New Campground</h2>
  <form action="/campgrounds/<%= campground._id %>?method=PUT" method="POST" encType="multipart/form-data">
    <div class="form-group">
      <label for="name">Name</label>
      <input name="name" type="text" class="form-control" placeholder="Name" value="<%= campground.name %>" required>
      <p class="required">*Required</p>
    </div>
    <div class="form-group">
      <label for="image">Image</label>
      <input name="image" type="file" class="form-control" placeholder="Image" accept="image/*">
    </div>
    <div class="form-group">
      <label>Location</label>
      <input name="location" type="text" class="form-control" value="<%=campground.location%>" required>
      <p class="required">*Required</p>
    </div>
    <div class="form-group">
      <label for="image">Description</label>
      <input name="description" type="text" class="form-control" placeholder="description" value="<%= campground.description %>" required>
      <p class="required">*Required</p>
    </div>
    <div class="form-group">
      <label>Price</label>
      <input name="priceamount" type="text" class="form-control" placeholder="Leave emty if Free" value="<%= campground.price.amount %>">
      <select name="pricedescription" class="form-control" required>
        <p class="required">*Required</p>
        <% if (campground.price.description == 'Free') {%>
        <option selected>Free</option>
        <% } else {%>
        <option>Free</option>
        <% } -%>
        <% if (campground.price.description == 'Night') { -%>
          <option selected>Night</option>
        <% } else { -%>
          <option>Night</option>
        <% } -%>
        <% if (campground.price.description == 'Entry') { -%>
          <option selected>Entry</option>
        <% } else { -%>
          <option>Entry</option>
        <% } -%>
        <% if (campground.price.description == 'Services') { -%>
          <option selected>Services</option>
        <% } else { -%>
          <option>Services</option>
        <% } -%>
        <% if (campground.price.description == 'Other') { -%>
          <option selected>Other</option>
        <% } else { -%>
          <option>Other</option>
        <% } -%>
      </select>
      <p class="required">*Required</p>
    </div>
    <div class="align-center">
      <a href="/campgrounds" class="btn btn-warning" id="button-group-1">Back</a>
      <button type="submit" class="btn btn-success" id="button-group-1">Submit</button>
    </div>
  </form>
</div>