<div class="container">
  <div class="card" style="width: 100%;">

    <img src="<%= campground.image  %>" class="card-img-top" alt="...">
    <div class="card-body">
      <h1 class="card-title col-"><%= campground.name  %></h1>
      <p class="card-text"><%= campground.description %></p>
      <div class="" style="text-align: end;">
        <a href="/campgrounds/<%= campground.id %>/comment/new" class="card-link">Add Comment</a>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <div class="">
        <% campground.comments.forEach(comment => { %>
        <li class="list-group-item">
          <button type="button" class="strip" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
              class="fas fa-ellipsis-v"></i></button>
          <div class="dropdown-menu">
            <a class="dropdown-item edit-user" href="">Edit</a>
            <div class="dropdown-divider"></div>
            <form action="/campground/<%= campground._id %>?method=DELETE" method="POST">
              <input type="hidden" name="url" value="">
              <button class="dropdown-item">Delete</button>
            </form>
          </div>
          <strong class="ml-2"><%= comment.author %></strong>
          -
          <%= comment.text %>
        </li>
        <% }) %>
      </div>
    </ul>
  </div>
</div>